html, body, #root,.App, .App>.container, .page-content{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.mapboxgl-canvas-container > canvas {
    left: 0;
}

.overlays canvas{

}


.react-contextmenu-wrapper {
    width: 100%;
    height: 400px;
}

.react-contextmenu--visible {
    display: block;
    margin: 0;
    padding: 3px 0 4px;
    background: rgba(240, 240, 240, 0.95);
    border-radius: 4px;
    font-family: Roboto;
    font-size: 14px;
    line-height: 15px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    padding: 5px 0;
    text-align: left;
    z-index: 100;
}

.react-contextmenu-item {
    padding: 3px 10px;
    padding: 0 20px;
    border-top: 1px solid rgba(0, 0, 0, 0);
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    cursor: pointer;
}

.react-contextmenu-item:hover {
    background: rgba(0, 128, 128, 0.95);
    color: white;
}
